@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  font-family: "Red Hat Display","Roboto","Helvetica Neue","Arial",sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
:root{
  --bg-1: #ffbea6;
  --bg-2: #cb94ac;
  --c0: rgb(245,229,229);
  --c1: rgb(254,212,213);
  --c2: rgb(220,190,217);
  --c3: rgb(200,174,217);
  --c4: rgb(177,159,204);
  --c5: rgb(164,150,196);
  --c6: rgb(125,136,189);
  --c7: rgb(99,113,169);
  --c8: rgb(85,89,134);
  --c9: rgb(64,67,100);
  --c10: rgb(46,44,63);
  --c99: rgb(255,255,255);
  --typewriterSpeed: 6s;
  --typewriterCharacters: 24;
}
body{
  font-size: 1.33rem;
  line-height: 1.5;
  color: var(--c99) !important;
  overflow-x: hidden;
}
a{ 
  text-decoration: none;
 
}